.cs-pc-app
{
    > header
    {
        height: 60px;
        border-bottom: 1px solid #ccc;
    }

    > .my-info
    {
        height: 200px;
        border-bottom: 1px solid #ccc;

        display: flex;
        align-items: center;
        justify-content: center;

        > .notice
        {
            font-size: 36px;
            color: #00bcd4;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-right: 30px;
        }
    }

    > .projects-container
    {
        min-height: 600px;
        border-bottom: 1px solid #ccc;
    }

    > footer
    {
        height: 60px;
        border-bottom: 1px solid #ccc;
    }
}
