.cs-pc-app
{
    > header
    {
        height: 60px;
        border-bottom: 1px solid #ccc;
    }

    > .my-info
    {
        height: 200px;
        border-bottom: 1px solid #ccc;
    }

    > .projects-container
    {
        min-height: 600px;
        border-bottom: 1px solid #ccc;
    }

    > footer
    {
        height: 60px;
        border-bottom: 1px solid #ccc;
    }
}
